body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#login-background {
  height: -webkit-fill-available;
  background-image: url('https://images.unsplash.com/photo-1500316124030-4cffa46f10f0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c3583c9e0a39944ac510280a55bcc0b&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
}

#investr-logo {
  width: 10%;
  left: 42%;
  position: absolute;
  top: 0;
}

.container {
  width: 20%;
  margin: 5% 0% 0 0%;
  left: 39%;
  position: absolute;
}

.login-buttons {
  display: inline;
  margin-right: 1em;
}

#message-nav {
  float: right;
}

#card-avatar {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: white solid thick;
}

.card-banner {
  margin: 4% 8% 2% 8%;
  border: white solid;
  background: #EDEDEF;
  text-align: center;
  height: auto;
  padding: 2%;
}

.cover-photo {
  margin: 0% -2% -11% -2%;
  width: 100%;
  height: 11rem;
  z-index: 0;
  }

#investor-card-sider {
  padding: 2%;
  overflow: scroll;
  background: #EDEDEF;
  flex: 0 0 240px;
  max-width: 240px;
  min-width: 200px;
  width: 240px;
  height: 39rem;
}


#row-wrapper {
  margin: 4% 10% 0 10%;
}

div.ant-layout-content {
  background: white;
}

div.ant-col-8.start-up-card {
  padding: 2%;
}

.start-up-card {
  height: 24rem;
  background: #EDEDEF;
  border: solid white;
  overflow: scroll;
  border-radius: 10%;
}

img.card-logo {
  width: 30%;
  height: auto;
  border-radius: 10%;
  border: white solid;
  display: block;
  margin: auto;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
}

.card-floater {
  text-align: center;
}

.content {
  text-align: left;
}

.filter-search {
  margin: 1% 5.5%;
  width: 30%;
}

.message-avatar {
  display: inline;
  margin-right: 1em;
}

.like-stamp {
  width: 70%;
  position: absolute;
  left: 36px;
  top: 58px;
  transform: rotate(-20deg);
  z-index: 10;
}

#message-window {
  margin: 4%;
  border: solid #3B627E;
  padding: 2%;
}

#new-message-form{
  width: 60%;
  display: inline;
}

.my-message {
  float: right;
  display: inline-block;
  line-height: normal;
  margin-left: 34rem;
}

.other-message {
  float: left;
  display: inline-block;
  width: 100%;
  margin-right: 34rem;
}
.ant-card.my-card {
  background-color: #5799C3;
  border: none;
  border-radius: 26%;
  width: 100%;
 }

.ant-card.other-card {
  background-color: #B7F0ED;
  border: none;
  border-radius: 26%;
  width: 100%;
 }

#convo-banner{
  text-align: center;
  width: 30%;
  top: 19.5%;
  left: 36%;
  position: absolute;
  z-index: 10;
  padding: 2%;
  color: white;
  background-color: #5799C3;
  border-radius: 50%;
}


#message-box{
  height: 28rem;
  overflow: scroll;
  margin-bottom: 2%;
  line-height: 1rem;
  scroll-behavior: smooth;
}
