#card-avatar {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: white solid thick;
}

.card-banner {
  border: white solid;
  background: #EDEDEF;
  text-align: center;
  height: auto;
  padding: 2%;
  border-radius: 2rem;
  width: 75%;
  height: 75%;
}

.cover-photo {
  margin: 0% -2% -10% -2%;
  width: 100%;
  height: 10rem;
  z-index: 0;
  border-radius: 2rem;
}

#investor-card-sider {
  padding: 2%;
  overflow: scroll;
  background: #EDEDEF;
  flex: 0 0 20%;
  width: 20%;
  height: 93.2vh;
}

div.ant-layout-content {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
