@import url('https://fonts.googleapis.com/css?family=Paytone+One');

body {
  font-family: sans-serif;
}

#login-background {
  height: 93.2vh;
  background-image: url('https://images.unsplash.com/photo-1500316124030-4cffa46f10f0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c3583c9e0a39944ac510280a55bcc0b&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
}

#investr-logo {
  width: 10%;
  left: 42%;
  position: absolute;
  font-family: 'Paytone One';
  font-size: 2.2rem;
  top: 0;
}

.ant-menu {
  height: 6.8vh;
  z-index: 10;
}

.container {
  height: 80vh;
  background-color: #fff;
  grid-column: 2;
  grid-row: 2;
  padding: 2rem 8rem;
  border-radius: 2rem;
}

.login-form {
  grid-column: 2;
}

div.ant-row.ant-form-item {
  margin-bottom: 10px;
}

.login-buttons {
  display: inline;
  margin-right: 1em;
}

#message-nav {
  float: right;
}

#card-avatar {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: white solid thick;
}

.card-banner {
  margin: 4% 8% 2% 8%;
  border: white solid;
  background: #EDEDEF;
  text-align: center;
  height: auto;
  padding: 2%;
}

.cover-photo {
  margin: 0% -2% -11% -2%;
  width: 100%;
  height: 11rem;
  z-index: 0;
  }

#investor-card-sider {
  padding: 2%;
  overflow: scroll;
  background: #EDEDEF;
  flex: 0 0 240px;
  max-width: 240px;
  min-width: 200px;
  width: 240px;
  height: 93.2vh;
}

#row-wrapper {
  margin: 4% 10% 0 10%;
}

div.ant-layout-content {
  background: white;
}

div.ant-col-8.start-up-card {
  padding: 2%;
}

.start-up-container {
  height: 61vh;
  overflow: scroll;
  padding: 1rem;
}

.start-up-card {
  height: 24rem;
  background: #EDEDEF;
  border: solid white;
  overflow: scroll;
  border-radius: 10%;
  transform: scale3d(0.998, 0.998, 1);
  transition: all .3s linear;
}

.start-up-card:hover {
  transform: scale3d(1.008, 1.008, 1);
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, .15);
  z-index: 20;
}

img.card-logo {
  width: 30%;
  height: auto;
  border-radius: 10%;
  border: white solid;
  display: block;
  margin: auto;
}

.more-info{
  cursor: pointer;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
}

.card-floater {
  text-align: center;
}

.content {
  text-align: left;
}

.filter-search {
  margin: 1% 5.5%;
  width: 30%;
}

.message-avatar {
  display: inline;
  margin-right: 1em;
  cursor: pointer;
}

.like-stamp {
  width: 70%;
  position: absolute;
  left: 36px;
  top: 58px;
  transform: rotate(-20deg);
  z-index: 10;
}

#message-window {
  margin: 4%;
  background: #EDEDEF;
  border-left: #3B627E solid .5rem;
  padding: 2.5% 2% 2% 2%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 10%;
}

#message-window h5 {
  position: fixed;
  left: 40%;
}

#new-message-form {
  text-align: right;
  width: 80%;
  grid-column: 1/3;
  grid-row: 2;
  display: inline;
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: .2rem;
  line-height: normal;
  max-width: 400px;
}

.card:hover{

}

.my.message {
  float: right;
  text-align: right;
  margin-left: 34rem;
  grid-column: 2;
  grid-row: 1;
}

.other.message {
  float: left;
  text-align: left;
  margin-right: 34rem;
  grid-column: 1;
  grid-row: 1;
}

.card {
  transition: all .3s linear;
}

.card:hover{
  transform: scale3d(1.008, 1.008, 1);
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, .15);
  z-index: 20;
}

.ant-card.my.card {
  background-color: #5799C3;
  border: none;
  border-radius: 20px;
  width: 100%;
 }

.ant-card.other.card {
  background-color: #B7F0ED;
  border: none;
  border-radius: 20px;
  width: 100%;
 }

#convo-banner{
  text-align: center;
  width: 30%;
  top: 19.5%;
  left: 36%;
  position: absolute;
  z-index: 10;
  padding: 2%;
  color: white;
  background-color: #5799C3;
  border-radius: 10%;
}

#message-box{
  grid-column: 1/3;
  grid-row: 1;
  height: 50vh;
  overflow: scroll;
  margin-bottom: 2%;
  line-height: 1rem;
  scroll-behavior: smooth;
}
